* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

:root {
    --color1: black;
    --color2: white;
    --text-color: gray;
    --bg-color1: #e9f3ff;
    --bg-color2: #f1f6fa;
    --border-color: gray;
    --primary-color: #03b961;
    --text-background: #dfe4eb;
}

body.dark-mode {
    --color1: white;
    --bg-color1: #252525;
    --bg-color2: #272727;
    --text-background: #2b2b2b;
}

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color1);
    border: 1px solid var(--border-color);
    border-radius: 0 0 10px 10px;
}

nav .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

nav .logo a span {
    color: var(--color1);
    font-weight: 500;
}

nav .nav-items ul {
    display: flex;
    list-style: none;
    margin: 0 160px;
}

nav .nav-items ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: var(--text-color);
    transition: all 0.5s ease;
    position: relative;
}

nav .nav-items ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color1);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

nav .nav-items ul li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

nav .nav-items ul li a:hover {
    color: var(--color1);
}

nav .contact-btn button {
    background-color: var(--primary-color);
    color: var(--color2);
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav .contact-btn button:hover {
    background-color: var(--color2);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.mode {
    color: var(--color1);
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-right: 1rem;
}

.fa-moon,
.fa-sun {
    animation: animate .5s;
}

.fa-moon {
    display: none;
}

input:checked~.fa-moon {
    display: block;
}

input:checked~.fa-sun {
    display: none;
}

input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

@keyframes animate {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25deg);
    }
}

.home {
    height: 90vh;
    background-color: var(--bg-color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container .left {
    margin-right: 10rem;
}

.home .container .left h3 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--color1);
}

.home .container .left h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color1);
}

.home .container .left h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.home .container .left h4 span {
    color: #03b961;
}

.home .container .left .resume-btn button {
    font-size: 0.9rem;
    background-color: #03b961;
    color: white;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-top: 1.5rem;
    cursor: pointer;
}

.home .container .left .resume-btn button:hover {
    background-color: white;
    color: #03b961;
    border: 1px solid #03b961
}

.home .container .right .profile {
    text-align: center;
}

.home .container .right .profile img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
    background: linear-gradient(transparent, var(--primary-color));
    border: 1px solid var(--primary-color);
}

.about {
    display: flex;
    align-items: center;
    background-color: var(--bg-color2);
}

.about .container {
    display: flex;
    align-items: center;
    margin: 4rem 10rem;
}

.about .container .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}

.about .container .left .social-media {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 0.3rem 1.2rem;
    font-weight: 500;
    text-align: center;
    color: var(--color1);
}

.about .container .left .social-media i {
    color: var(--color1);
    margin: 0 0.2rem;
    transition: all 0.3s ease;
}

.about .container .left .social-media i#ig:hover {
    color: #d62976;
}

.about .container .left .social-media i#tw:hover {
    color: #1DA1F2;
}

.about .container .left .social-media i#fb:hover {
    color: #1877F2;
}

.about .container .left .social-media i#gh:hover {
    color: #2b3137;
}

.about .container .left .social-media i#li:hover {
    color: #0077B5;
}

.about .container .left .profile img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    background: linear-gradient(transparent, var(--primary-color));
    border: 1px solid var(--primary-color);
}

.about .container .right p {
    color: var(--color1);
}

p.head {
    background-color: var(--text-background);
    display: inline-flex;
    padding: 0.1rem 0.8rem;
    border-radius: 7px;
}

.about .container .right h1 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.7rem;
    margin: 0.3rem 0 2rem;
}

.skills {
    background-color: var(--bg-color2);
}

.skills .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills .container .heading {
    text-align: center;
}

.skills .container .heading p {
    color: var(--color1);
}

.skills .container .heading h1 {
    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 0 1.5rem;
}

.skills .container .skills-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    flex-wrap: wrap;
}

.skills .container .skills-icons .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--color1);
    margin: 1rem 1.7rem;
}

.skills .container .skills-icons .icon p {
    font-size: 0.8rem;
    color: var(--text-color);
}

.portfolio {
    background-color: var(--bg-color2);
}

.portfolio .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.portfolio .container .heading {
    text-align: center;
}

.portfolio .container .heading p {
    color: var(--color1);
}

.portfolio .container .heading h1 {
    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 0 1.5rem;
}

.portfolio .container .projects-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .container .projects-cards .card {
    width: 20vw;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    margin: 0 15px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transition: 0.25s all ease-in-out;
}

.portfolio .container .projects-cards .card:hover {
    scale: 1.05;
}

.portfolio .container .projects-cards .card img {
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

.portfolio .container .projects-cards .card h3 {
    font-weight: 500;
    margin-top: 0.3rem;
    color: var(--color1);
}

.portfolio .container .projects-cards .card a {
    display: block;
    margin-top: 20px;
    color: var(--color1);
    margin-bottom: 0.8rem;
}

.education {
    background-color: var(--bg-color2);
}

.education .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.education .container .heading {
    text-align: center;
}

.education .container .heading p {
    color: var(--color1);
}

.education .container .heading h1 {
    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.education .container .school {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.education .container .school h3 {
    font-weight: 600;
    color: var(--color1);
}

.education .container .school h4 {
    font-weight: 500;
    color: var(--color1);
}

.education .container .school p {
    color: var(--text-color);
}

.education .container .school .school-img {
    display: flex;
}

.education .container .school .school-img img {
    border-radius: 20px 0 0 20px;
    width: 12rem;
    height: 8rem;
}

.education .container .school .education-detail {
    margin: 0 1rem;
}

.education .container .school .education-detail hr {
    border-top: 1px solid var(--border-color);
}

footer {
    background-color: var(--bg-color2);
}

footer hr {
    border-top: 1px solid var(--border-color);
    margin: 0 9rem;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

footer .container .left {
    margin-right: 13rem;
}

footer .container .left .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

footer .container .left .logo a span {
    color: var(--color1);
    font-weight: 500;
}

footer .container .right {
    display: flex;
    align-items: center;
    margin-left: 13rem;
}

footer .container .right .details {
    display: flex;
    color: var(--text-color);
    align-items: center;
}

footer .container .right .details p {
    margin: 0 1rem;
    font-size: 0.85rem;
}

footer .container .right .social-media {
    margin: 0 1rem;
}

footer .container .right .social-media a {
    margin: 0 0.25rem;
    color: var(--bg-color2);
    background-color: var(--color1);
    height: 30px;
    width: 50px;
    border-radius: 100%;
}